.headertext {
    
    color: rgb(73, 72, 72);
    padding: 2em;
    border: 1px solid rgb(197, 185, 185);
    margin: 0.5em;
    display: inline block;
    position: relative;
    border-radius: 20px;
    background-color: rgb(221, 205, 205);
    font-size: 40px;
    
  }

  .parentflexbox {
    border-radius: 20px;
    margin: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    
    
  }

  .childflexbox {
    
    margin-left: 10rem;
   
    width: 400px;
    margin-top: 2rem;
  }

  .imginfo {
    width: 500px;
    border-radius: 50%;
    height: 500px;
  }

  .headertextforinformation {
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    text-decoration: underline;
  }

  .informationtext {
    font-style: italic;
    font-weight: 300;
    font-size: 30px;
    border: 1px solid rgb(138, 132, 132);
    margin: 1rem;
  }

  .buttonback {
    display: inline block;
    height: 100px;
      width: 400px;
      font-size: 24px;
      font-style: italic;
      font-weight: 400;
      background-color: rgb(221, 205, 205);
      border-radius: 20px;
      border: none;
      position: static;
      color: rgb(99, 93, 85);
      margin-top: 2rem;
          
  }

  .buttonback:hover {
    background-color: rgb(224, 224, 224);
    height: 105px;
    width: 420px;
    color:rgb(121, 114, 114);
  }